{% extends "base_generic.html" %}

{% block content %}
    <h1>{{person.name}} </h1>

    {% if person %}
   <h3>Friends </h3> 
    <ul>

        {% for friends in person.friends.all %} 
        
      <li>
        {{ friends }} 
      </li>
      {% if not forloop.last %}, {% endif %}{% endfor %}
    </ul>
    <h3>Lessons</h3>
    {% if lessons.all %}
    
    {% for friends in lessons.all %} 
        
      <li>
        {{ friends }}
      </li>
      {% if not forloop.last %}, {% endif %}{% endfor %}
      {% else %}
    <p>This person hasn't taken any lesson yet...</p>
    {% endif %} 
    
      {% else %}
      <p>There are no books in the library.</p>
    {% endif %} 
{% endblock %}